---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<p>
			The Internet is dying and so is the world. <br/>
			This is an an attempt to have a little bit of control over my things in the digital world. 
			I don't claim it to be completely ethical as I'm pretty sure Netlify uses either Amazon or Microsoft services to host this, I don't even know who owns Netlify! 
			but it at least feels more, I don't know, independent?
			<br/>
			It is virtually impossible to do things completely isolated anyways.
		</p>
	</main>
	
</BaseLayout>