---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Blog posts";

---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{allPosts.map((post) => {
			return (
			<li class="post-container">
                <a href={post.url}>
                    <h2>{post.frontmatter.title}</h2>
                    <p>{post.frontmatter.summary}</p>
                </a>                
            </li>
			)
		})}
	</ul>
</BaseLayout>
