---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <main>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <slot />
  </main>
</BaseLayout>